@import '../../colors.scss';
@import '../../mixin.scss';

.panel {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  flex-flow: column;
  box-sizing: border-box;
  padding: 1rem;

  @include transition;

  &.fluid {
    width: 100%;
    height: 100%;
  }

  &.border {
    border: 1px rgba($blue, 0.89) solid;
  }
}
