@import '../../colors.scss';
@import '../../mixin.scss';

.create_hero_form {
  width: 100%;

  .column {
    flex-flow: column;
  }
  
  .row {
    flex-flow: row;
  }

  .two.column.row {
    &>.column {
      width: 50%;
    }
  }

  .divided.row {
    &>.column {
      @include vdivider;
      padding: 0 1rem;
    }

    &>.column:first-child {
      padding-left: 0;
      box-shadow: none;
    }

    &>.column:last-child {
      padding-right: 0;
    }
    
  }

  .hero_stats_line {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .hero_class_move {
    @include borderRadius;
    padding: 1em;
    border: 1px solid $bg3;
    background: rgba($bg3, 0.4);
  }
}
