.inventory {
  width: 100%;
  justify-content: center;

  .inventory_grid {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    flex-flow: column;

    h1 {
      margin: 0;
    }
  }

  .inventory_list_container {
    overflow-y: auto;
  }

  .inventory_list_column,
  .item_details_column {
    height: 100%;
  }
  
  .divider {
    flex: 0 0 auto !important;
  }

  .two.column.row {
    flex: 1 1 auto;
  }
  
  .header_row {
    padding-bottom: 0 !important;
  }
  
  .container,
  .segment {
    height: 100%;
  }
}
