@import '../../colors.scss';
@import '../../mixin.scss';

.tc.toast {
  @include transition;
  position: absolute;
  display: flex;
  flex-flow: row;
  max-width: 480px;
  width: calc(100% - 4em);
  margin: 2em;
  z-index: 100;
  cursor: pointer;

  &:last-child {
    margin-bottom: 2em;
  }
  
  &.top_left {
    top: 0;
    left: 0;
    animation: toast-anim-down 0.5s ease-in-out;
  }

  &.top_right {
    top: 0;
    right: 0;
    animation: toast-anim-down 0.5s ease-in-out;
  }

  &.bottom_left {
    bottom: 0;
    left: 0;
    animation: toast-anim-up 0.5s ease-in-out;
  }

  &.bottom_right {
    bottom: 0;
    right: 0;
    animation: toast-anim-up 0.5s ease-in-out;
  }

  .toast_icon {
    @include flexCentered;
    flex: 0 0 auto;
    font-size: 3rem;
    margin-right: 1.5rem;
    
    i {
      @include flexCentered;
    }
  }

  .toast_text {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: center;
  }

  .toast_close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 12px;
  }
}


@keyframes toast-anim-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toast-anim-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
