@import '../../../colors.scss';
@import '../../../mixin.scss';

.hero_card {
  .ui.grid {
    @include borderRadius;
    margin: 0.5em;
    padding: 0.5em;
    
    &:hover {
      background: rgba($white, 0.09);
    }
  }

  .ui.header {
    margin: 0;
  }

  .icon {
    @include centerVertically;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    color: $white;
  }
}
