@import '../../../colors.scss';

.hero_move {
  margin-top: 1em;

  &:last-child {
    margin-bottom: 1em;
  }

  .hero_move_cooldown {
    display: flex;
    align-items: baseline;
    
    span {
      color: rgba($white, 0.4);
    }
    
    .icon {
      margin: 0 !important;
    }
  }
}
