@import '../../mixin.scss';

.user_profile {
  @include container;
  margin-top: 60px;

  .row {
    justify-content: center;
  }

  .ui.divider {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .header_row {
    justify-content: space-between;

    .ui.header {
      margin: 0;
    }
  } 
  
  .user_profile_row {
    justify-content: space-between;
    margin-bottom: 0.5em;

    &:last-child {
      margin: 0;
    }
  }
}
