.user_profile {
  justify-content: flex-start;

  .user_profile_panel {
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    margin: 0 auto;
  }

  .user_profile_row {
    justify-content: space-between;
  }
}
