@import '../../mixin.scss';

.user_profile {
  @include container;
  margin-top: 60px;

  .row {
    justify-content: center;
  }
  
  .segment {
    width: 100%;
    max-width: 450px;
  }

  .user_profile_row {
    justify-content: space-between;
    margin-bottom: 0.5em;

    &:last-child {
      margin: 0;
    }
  }
}
