@import '../../colors.scss';

.top_bar {
  a.item,
  .item>h2,
  .item>h3 {
    display: flex;
    align-items: center;
    text-transform: uppercase !important;
  }

  .icon {
    font-size: 1em;
  }
}
