@import '../../colors.scss';

@mixin highlighted {
  background: rgba($blue, 0.35);
}

.notes_form {
  width: 100%;
  margin-bottom: 1em;

  h4 {
    margin-bottom: 1em !important;
  }
  
  .notes_grid {
    width: 100%;
  }

  .center.aligned.row {
    justify-content: center;
  }

  .bottom.attached.segment {
    border-top: none;
  }

  .divided.grid {
    &>.column:not(:last-child) {
      border-right: 1px solid $darkgray;
    }
  }

  .notes_parts_grid {
    width: 100%;
  }
  
  .notes_parts_column {

  }

  .category,
  .phrase {
    width: 100%;
    padding: 1em;
    margin: 0 1em;
    text-align: center;
  }

  .selected {
    background: rgba($white, 0.15);
  }

  .ui.divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .format_controls_row {
    margin-top: 1em;
    
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
    }
    
    .button {
      flex: 0 0 auto;
    }
  }
}
