@import '../../colors.scss';

@mixin highlighted {
  background: rgba($blue, 0.35);
}

.notes_form {
  margin-bottom: 1em;

  div[class*='ArwesSounds(Frame)-box'] {
    width: 100%;
    height: 100%;
  }

  div[class*='ArwesSounds(Frame)-children'] {
    display: flex;
    flex-flow: column;
    padding: 1em;
  }

  a {

    &:hover {
      @include highlighted;
    }
  }
  
  .note_frame {
    margin-bottom: 1em;
  }

  .structures,
  .categories,
  .phrases {
    flex: 1 1 33.3%;
  }

  .structure {
  }

  .category {
  }

  .phrase {

  }

  .selected {
    @include highlighted;
    }
}
