@import '../../colors.scss';

.hero_traits_view {
  width: 100%;
  justify-content: center;

  .header_row {    
    h1 {
      font-variant: small-caps;
      width: 100% !important;
    }
  }
  
  .divider {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .traits_list {
    .item {
      cursor: pointer;
    }
    
    .active.item {
      color: $white !important;
    }

    .unavailable.item:not(.active) {
      color: rgba($white, 0.25) !important;
    }
  }

  .selected_trait_header h4 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .purchase_button_row {
    justify-content: flex-end;
  }
}
