@import '../../colors.scss';

.tc.game_icon {
  display: inline-block;
  height: 1em;
  text-align: center;

  &.big {
    height: 3em;
  }

  &.huge {
    height: 5em;
  }

  &.blue {
    path:last-child {
      fill: $blue;
    }
  }
  
  &.green {
    path:last-child {
      fill: $green;
    }
  }

  &.dark {
    path:last-child {
      fill: rgba($darkgray, 0.3);
    }
  }
  
  svg {
    position: relative;
    height: 100%;
  }
}
