.logged_in_only {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1em;

  .header {
    margin-bottom: 2em !important;
  }

  .centered.row {
    justify-content: center;
  }
}
