@import './colors.scss';

.arwes_header_root {
  background: rgba($bluedarker, 0.65);
  
  h1, h2, h3, h4, h5 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 1em;
  }
}

.arwes_header_root,
.arwes_header_children {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  align-items: center;
  z-index: 5;
}

.arwes_footer_root {
  flex: 1 1 auto;
  font-family: Electrolize;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  z-index: 5;
  background: rgba($bluedarker, 0.65);
  
  a {
    color: lighten($blue, 35%);
  }
}

.arwes_footer_children {
  display: flex;
  align-items: center;
  justify-content: center;
}


.arwes_main {
  display: flex;
  overflow: auto;
  z-index: 4;
  height: 100%;
}
