$pink:         #FF00DD;
$pinkmid:      #BF00A6;
$pinkdark:     #7F006E;
$pinkdarker:   #400037;

$blue:         #26DAFD;
$bluemid:      #A1ECFB;
$bluelight:    #ACF9FB;
$bluedarker:   #021114;

$red:          #FF0000;
$orange:       #DF9527;
$green:        #00FF00;

$white:        #F1F1F1;
$gray:         #d4d4d5;
$darkgray:     #555;

$bg:           #1b1c1d;
$bg2:          #21252b;
$bg3:          #3a3f4b;
