$pink:         #FF00DD;
$pinkmid:      #BF00A6;
$pinkdark:     #7F006E;
$pinkdarker:   #400037;

$blue:         #00E4FF;
$bluemid:      #00ABBF;
$bluedark:     #00727F;
$bluedarker:   #003940;

$white:        #F1F1F1;

$bg:           #282c34;
$bg2:          #21252b;
$bg3:          #3a3f4b;
