$pink:         #e03997;
$blue:         #2185d0;
$red:          #db2828;
$orange:       #f2711c;
$green:        #21ba45;

$white:        #F1F1F1;
$gray:         #d4d4d5;
$darkgray:     #555;

$bg:           #1b1c1d;
$bg2:          #21252b;
$bg3:          #3a3f4b;
