@import './colors.scss';
@import './mixin.scss';

.header {
  flex: 1 1 auto;

  h1,h2,h3 {
    padding: 0 1rem;
    margin-bottom: 0;
  }
}

.footer {
  flex: 1 1 auto;
  font-family: Electrolize;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;

  a {
    color: lighten($blue, 35%);
  }
}

.main_layout_column {
  height: 100%;
}

.active_link {
  color: $white;
}

a {
  @include transition;
  text-decoration: none;
  outline: none;
  color: $blue;
}

label {
  font-family: Electrolize;
}

input {
  border: 1px solid rgba($blue, 0.89);
  padding: 0.25em;
  background: rgba($bg, 0.25);
  color: rgba($white, 0.89);
}
