.hero_list {

  .hero_list_panel {

  }

  .hero_list_inner {
    padding: 20px;
  }

  .create_hero_column {
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
  }
}
