.hero_list {

  .hero_list_panel {

  }

  .hero_list_inner {
    padding: 20px;
  }

  .create_hero_column {
    align-items: center;
    justify-content: center;
    cursor: pointer;

    div[class*='ArwesSounds(Button)-root'],
    button[class*='ArwesSounds(Button)-button']{
      width: 100%;
    }
  }
}
